<h1><%= @contestant.name %></h1>

<p>
  <%= "Appeared on Season #{@contestant.season_num} - #{@contestant.description}" %>
</p>

<% @contestant.outings.each do |outing| %>
  <p><%= link_to outing.name, outing_path(outing) %></p>
<% end %>
